@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "主页";

}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://api.isoyu.com/gy/" allowTransparency="true" frameborder="0" scrolling="no"  width="100%"  height="640"></iframe>
            </div>
            <!-- /.col-md-6 -->
         
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>